body
{
    background-image:url(/16618.jpg) ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

table
{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(243, 202, 65, 0.966);

}

table.list
{
    text-align: center;
    width: 100%;
    vertical-align: top;
    
}

td
{
    border: 1px solid white;
    text-align: left;
    padding: 8px 15px;

}

tr:nth-child(even), table.list thread> tr
{
    background-color: rgb(233, 161, 5);
}

input[type="text"], input[type="number"] 
{
    width: 85%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"] 
{
    background: rgb(17, 16, 16);
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover
{
    background: rgb(65, 134, 167);
}

input[type="reset"]:hover
{
    background: rgb(65, 134, 167);
}

button
{
    background: rgb(0, 0, 0);
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    outline: none;
}

button:hover
{
    background: rgb(240, 8, 8);
}